/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#main-container {

    background-color: rgb(253, 253, 253);
    width: 350px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    text-align: center;
    margin-top: 15vh;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #4e18a7;
}

#main-container ion-icon{

    color: green;
}

#obrigado-container p {

    font-weight:bold;
    color: rgb(34, 34, 34);
}

#botao-container {
    /* background-color: black; */
    width: 130px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}

#botao-container button {
    width: 130px;
    height: 35px;
    background-color: #038b4e;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
}


#botao-container button a {    
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    
}

.table-head-fixed {
    height: 75%;
    overflow: scroll;
}

thead tr:nth-child(1) th{
    background: black;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  